pkgbase = st-git
	pkgdesc = A simple virtual terminal emulator for X.
	pkgver = 0.8.4.r4.g4536f46
	pkgrel = 1
	url = https://st.suckless.org
	arch = i686
	arch = x86_64
	arch = armv7h
	groups = modified
	license = MIT
	makedepends = ncurses
	makedepends = libxext
	makedepends = git
	depends = libxft-bgra
	depends = lib32-libxft-bgra
	provides = st
	conflicts = st
	source = git://git.suckless.org/st
	source = README.terminfo.rst
	sha256sums = SKIP
	sha256sums = 0ebcbba881832adf9c98ce9fe7667c851d3cc3345077cb8ebe32702698665be2

pkgname = st-git
